In [2]:
import pandas as pd

In [3]:
simple_series = pd.Series(
    index=[0, 1, 2, 3], name="Volume", data=[1000, 2600, 1524, 98000]
)
simple_series

0     1000
1     2600
2     1524
3    98000
Name: Volume, dtype: int64

In [5]:
type(simple_series)

pandas.core.series.Series

In [6]:
simple_df = pd.DataFrame(
    index=[0, 1, 2, 3], columns=["Volume"], data=[1000, 2600, 1524, 98000]
)
simple_df

   Volume
0    1000
1    2600
2    1524
3   98000

In [7]:
#Creating dataframe with multiple columns
another_df = pd.DataFrame(
    index=[0, 1, 2, 3],
    columns=["Date", "Volume"],
    data=[[20190101, 1000], [20190102, 2600], [20190103, 1524], [20190104, 98000]]
)
another_df

       Date  Volume
0  20190101    1000
1  20190102    2600
2  20190103    1524
3  20190104   98000

In [11]:
#using list of lists
data_points = [[20190101, 1000], [20190102, 2600], [20190103, 1524], [20190104, 98000]]
pd.DataFrame(columns= ["Date","Volume"],data=data_points)

       Date  Volume
0  20190101    1000
1  20190102    2600
2  20190103    1524
3  20190104   98000

In [17]:
another_df.index = [1,2,3,4]

In [19]:
another_df #Index is mutable

       Date  Volume
1  20190101    1000
2  20190102    2600
3  20190103    1524
4  20190104   98000

In [22]:
#Both methods return Index-like objects. Both can be casted with list()
print(another_df.columns)
print(another_df.index)

Index(['Date', 'Volume'], dtype='object')
Int64Index([1, 2, 3, 4], dtype='int64')

In [23]:
list(another_df.columns)

['Date', 'Volume']

In [24]:
list(another_df.index)

[1, 2, 3, 4]

In [26]:
#Create numerical variables operating existig ones
another_df.Volume + another_df.Date

1    20191101
2    20192702
3    20191627
4    20288104
dtype: int64

In [27]:
another_df.Volume / another_df.Date

1    0.000050
2    0.000129
3    0.000075
4    0.004854
dtype: float64

In [32]:
another_df.Volume * another_df.Date-1

1      20190100999
2      52494265199
3      30769716971
4    1978630191999
dtype: int64