In [16]:
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()

In [2]:
iris['feature_names']

In [17]:
iris_df = pd.DataFrame(columns=iris['feature_names'], data=iris["data"].tolist())

In [22]:
#lox indexing works with labels instead of indexes. In this case, loc[0] extracts every data point in index=0
iris_df.head().loc[0]

sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
Name: 0, dtype: float64

In [29]:
#Extracting the whole column requires the use of row,column label format
iris_df.head().loc[:,'sepal length (cm)']

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [30]:
iris_df.loc[0,'sepal length (cm)']

5.1

In [35]:
iris_df.loc[:,['sepal length (cm)','petal width (cm)']] #Use of list to extract multiple columns

     sepal length (cm)  petal width (cm)
0                  5.1               0.2
1                  4.9               0.2
2                  4.7               0.2
3                  4.6               0.2
4                  5.0               0.2
..                 ...               ...
145                6.7               2.3
146                6.3               1.9
147                6.5               2.0
148                6.2               2.3
149                5.9               1.8

[150 rows x 2 columns]

In [36]:
#Although, to this end, using the column name directly is more straightforward

In [38]:
iris_df[['sepal length (cm)','petal width (cm)']].head()

   sepal length (cm)  petal width (cm)
0                5.1               0.2
1                4.9               0.2
2                4.7               0.2
3                4.6               0.2
4                5.0               0.2

In [43]:
iris_df[['sepal length (cm)','petal width (cm)']].head()[::-1] #Reversing data frame!!

   sepal length (cm)  petal width (cm)
4                5.0               0.2
3                4.6               0.2
2                4.7               0.2
1                4.9               0.2
0                5.1               0.2

In [44]:
# iris_df[['sepal length (cm)','petal width (cm)']].to_numpy() # to_numpy function turns data into a numpy array

In [45]:
iris_df.iloc[[1, 3, 5], [1, 2]]

   sepal width (cm)  petal length (cm)
1               3.0                1.4
3               3.1                1.5
5               3.9                1.7

In [48]:
iris_df['sepal width (cm)'] > 3

0       True
1      False
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148     True
149    False
Name: sepal width (cm), Length: 150, dtype: bool

In [49]:
iris_df.loc[lambda df: df['sepal width (cm)'] > 3, :] #This expresion extracts all indexes whose sepal length is greater than 0

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
..                 ...               ...                ...               ...
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
148                6.2               3.4                5.4               2.3

[67 rows x 4 columns]

In [ ]:
#THis should be equivalent to
iris_df[iris_df['sepal width (cm)']]

In [ ]:
#loc vs iloc applies only for column names!

In [67]:
iris_df["sepal length (cm)"].sample()

121    5.6
Name: sepal length (cm), dtype: float64

In [68]:
#at has less overhead thatn loc and allows to get a scalar faster!

In [69]:
iris_df.at[0,"sepal length (cm)"]

5.1

In [70]:
iris_df.iat[0,0]

5.1