In [1]:
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()

In [2]:
iris_df = pd.DataFrame(columns=iris['feature_names'], data=iris["data"].tolist())

In [3]:
iris_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

## series methods

In [4]:
print(iris_df["sepal length (cm)"].min())
print(iris_df["sepal length (cm)"].median())
print(iris_df["sepal length (cm)"].mean())
print(iris_df["sepal length (cm)"].max())
print(iris_df["sepal length (cm)"].quantile(0.25))

4.3
5.8
5.843333333333335
7.9
5.1

In [5]:
#Summarizing the analysis
iris_df["sepal length (cm)"].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal length (cm), dtype: float64

In [1]:
from sklearn import datasets
import pandas as pd
diabetes = datasets.load_diabetes()

In [2]:
diabetes_df = pd.DataFrame(columns=diabetes['feature_names'], data=diabetes["data"].tolist())

In [10]:
diabetes_df["sex_str"] = diabetes_df["sex"].apply(lambda x: "F" if x <0 else "M")

In [11]:
diabetes_df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'sex_str'],
      dtype='object')

In [12]:
#Pivot table with aggregate function
pd.pivot_table(data =diabetes_df, values= "bmi",index="sex_str",columns="sex",aggfunc="mean" )

sex      -0.044642   0.050680
sex_str
F        -0.003936        NaN
M              NaN   0.004468

In [14]:
#Summary by variable and aggregation function on the other columns
diabetes_df.groupby("sex_str").sum()[["bmi","s1","s2"]]

              bmi        s1        s2
sex_str
F       -0.924882 -0.370082 -1.496377
M        0.924882  0.370082  1.496377