In [1]:
mylist=['one','two','three']

In [3]:
#Slicing
mylist[1:]

['two', 'three']

In [4]:
mylist[0:2]

['one', 'two']

In [5]:
#Concatenation
mylist2 = ["4","5","6"]

In [7]:
mylist3 = mylist + mylist2

In [8]:
mylist3

['one', 'two', 'three', '4', '5', '6']

In [11]:
#Lists are mutable
mylist3[5] = "six"
mylist3

['one', 'two', 'three', '4', '5', 'six']

## Methods

In [12]:

#Append
mylist3.append("7")

In [13]:
mylist3

['one', 'two', 'three', '4', '5', 'six', '7']

In [14]:
mylist3.append("8")
mylist3

['one', 'two', 'three', '4', '5', 'six', '7', '8']

In [15]:
#remove items
mylist3.pop() #Pop removes the last value by default
mylist3

['one', 'two', 'three', '4', '5', 'six', '7']

In [16]:
mylist3.pop(0)

'one'

In [19]:
mylist3 #pop removes the item inplace and returns the index

['two', 'three', '4', '5', 'six', '7']

In [21]:
#Sort values
mylist3.sort() #It works completely inplace
mylist3

['4', '5', '7', 'six', 'three', 'two']

In [ ]:
#Reverse method. Also completely inplace

In [24]:
mylist3.reverse()
mylist3

['two', 'three', 'six', '7', '5', '4']

In [25]:
mylist3.reverse()
mylist3

['4', '5', '7', 'six', 'three', 'two']

In [26]:
mylist3[::-1]

['two', 'three', 'six', '7', '5', '4']

In [29]:
#Duplicate the list
mylist3 = mylist3 * 2

In [30]:
mylist3

['4', '5', '7', 'six', 'three', 'two', '4', '5', '7', 'six', 'three', 'two']

In [32]:
#Count specific value in list
mylist3.count("three")

2

In [33]:
#Index of the first occurence
mylist3.index("three")

4

In [34]:
#Insert value at specific index
mylist3.insert(4,8)

In [35]:
mylist3

['4', '5', '7', 'six', 8, 'three', 'two', '4', '5', '7', 'six', 'three', 'two']

In [36]:
#Copy list
mylist4 = mylist3.copy()

In [37]:
#append lists element by element
mylist4.extend(mylist3)

In [38]:
mylist4

['4',
 '5',
 '7',
 'six',
 8,
 'three',
 'two',
 '4',
 '5',
 '7',
 'six',
 'three',
 'two',
 '4',
 '5',
 '7',
 'six',
 8,
 'three',
 'two',
 '4',
 '5',
 '7',
 'six',
 'three',
 'two']

## List comprehension

In [46]:
lista1 = [1,2,3]
lista2 = [4,5,6]

lista3 = [x for x in lista2 if x%2==0]
lista3

[4, 6]

In [47]:
#The comprehension replaces:
lista3 = []
for x in lista2:
    if x%2==0:
        lista3.append(x)
lista3

[4, 6]

In [52]:
#List comprehension with else
lista3 = [x if x%2==0 else "No aplica" for x in lista2 ]

In [53]:
lista3

[4, 'No aplica', 6]